.additional-form {
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }


  &__title {
    margin-bottom: 34px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr  1fr 1fr;
    }
  }

  &__field-label {
    color: #000000;
    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
