.additional-form {
  &__title {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 34px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__field-label {
    color: #000000;
  }
}
