.additional-products {
  @media (max-width: @mobile-width-only) {
    padding-top: 25px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
  }
}

.additional-products__title {
  position: relative;
  // font-size: 24px;
  // line-height: 24px;
  // margin: 0;
  // margin-bottom: 36px;
  // padding: 0;
  width: 100%;
  overflow-x: hidden;

  @media (max-width: @mobile-width-only) {
    padding-left: 6.25%;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-left: 8%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7.3%;
  }

  & span {
    background-color: #ffffff;
    display: inline-block;

    @media (max-width: @mobile-width-only) {
      padding: 0 20px;
      margin-left: -20px;
    }

    @media (min-width: @tablet-width) {
      padding: 0 40px;
      margin-left: -40px;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 50%;
    left: -110px;
    background-color: #68b738;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-products__item {
  position: relative;
  border-bottom: solid 1px #ebebeb;
  border-top: solid 1px #ebebeb;

    // &::before {
    //   position: absolute;
    //   content: " ";
    //   min-width: 320px;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #ebebeb;
    //   top: 0;
    // }
}
