.additional-form {
  @media (max-width: 767px) {
    margin-top: 23px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    margin-top: 55px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
    margin-bottom: 60px;
  }
}

.additional-form__item {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 13px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    margin-bottom: 32px;
  }
}

.additional-form__title {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  @media (max-width: @mobile-width-only) {
    padding-left: 6.25%;
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-left: 9%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7.7%;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 55.5%;
    left: -110px;
    background-color: #68b738;
    z-index: -1;
  }
}

.additional-form__title span {
  background-color: #ffffff;
  display: inline-block;

  @media (max-width: @mobile-width-only) {
    padding: 0 20px;
    margin-left: -20px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-left: -40px;
  }
}

.additional-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    column-gap: 75px;
  }
}

.additional-form__field-label {
  color: #000000;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 7px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;
  }
}
