.button {
  background-color: #68b738;
  width: 280px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 7px 44px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
