.container {
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 87.5%;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    width: 92.2%;
  }

  @media (min-width: @desktop-width) {
    width: 84.7%;
  }

  &--padding {
    @media (min-width: @tablet-width) and (max-width: 1439px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
