.container {
  width: 87%;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    width: 92%;
    margin: 0 auto;
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 85%;
    margin: 0 auto;
    max-width: @desktop-width;
  }
}
