.container {
  width: 87%;
  margin: 0 auto;
  // max-width: 320px;

  @media (min-width: @tablet-width) {
    width: 92%;
    margin: 0 auto;
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 85%;
    margin: 0 auto;
    max-width: @desktop-width;
  }

  &--padding {
    @media (min-width: @tablet-width) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
