.example {
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &__text {
    color: #444444;
    font-family: "Arial", sans-serif;
    margin: 0;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 25px;
    }
  }

  &__term {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    color: #444444;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__all-costs {
    text-align: center;

    @media (min-width: @tablet-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__all-costs-term {
    text-transform: uppercase;
  }

  // &__illustration {
  //   height: 232px;
  //   background-image: url("../img/example-pic-mobile.png");
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  &__list-wrapper {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__wrapper {
    @media (min-width: @tablet-width) {
      margin-right: 42px;
    }
  }

  &__container {
    @media (min-width: @desktop-width) {
      background-color: #eaeaea;
      padding-left: 110px;
      padding-right: 110px;
      padding-top: 70px;
    }
  }

  &__text-container {
    @media (min-width: @desktop-width) {
      max-width: 450px;
    }
  }
}
