.example {
  background-color: #eaeaea;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 30px;
  }
}

.example__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 70px;
  }
}

.example__title {
  margin: 0;
  padding-top: 25px;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 76px;
    background-color: #ffffff;
  }
}

.example__term {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 9px;
  border: solid 1px #cdcdcd;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 124px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 12px;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  color: #444444;
  background-color: #eaeaea;
  z-index: 10;

  @media (max-width: @mobile-width-only) {
    font-size: 12px;
    line-height: 12px;
    width: 87px;
    margin-top: -15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 135px;
    margin-top: -17px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__list {
  display: flex;
  // justify-content: space-around;
  text-align: center;
}

.example__all-costs {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: flex-start;
    gap: 63px;
    margin-top: 53px;
  }

  &-term {
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.example__illustration {
  position: relative;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    background-color: #eaeaea;
  }

  @media (min-width: @desktop-width) {
    margin-top: -55px;
  }
}

.example__illustration-wrapper {
  display: flex;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    width: 280px;
    height: 256px;
  }

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.example__illustration_picture {
  height: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    margin-top: -150px;
    width: 560px;
    height: 512px;
  }

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.example__list-wrapper {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.example__container {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    background-color: #f2f2f2;

    &--desktop {
      width: 84.7%;
      margin: 0 auto;
      display: flex;
    }
  }
}

.example__text-container {
  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-bottom: 200px;
  }
}

.example__illustration-toggle {
  position: absolute;
  content: " ";
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border: none;
  padding: 0;

  &:hover {
    background-color: #68b738;

    & button {
      background-image: url("../img/thumb--hover.svg");
    }
  }

  &:active {
    background-color: #5eaa2f;

    & button {
      background-image: url("../img/thumb--active.svg");
    }
  }

  @media (min-width: @tablet-width) {
    top: -145px;
  }

  &--button {
    position: absolute;
    top: 45%;
    right: -18px;
    width: 40px;
    height: 40px;
    background-image: url("../img/thumb.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
