.footer {
  &__map {
    display: block;
  }

  &__wrapper {
    background-color: #f2f2f2;
  }

  &__container {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__logo {
    padding-top: 39px;
    margin-bottom: 32px;
  }
}
