.footer {
  &__map {
    display: block;
  }

  &__wrapper {
    background-color: #f2f2f2;
  }

  &__container {
    text-align: center;

    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: @desktop-width;
    }
  }

  &__logo {
    padding-top: 39px;
    margin-bottom: 32px;
  }
}
