.form-owner {
  @media (min-width: @tablet-width) {
    margin-top: 70px;
  }
}

.form-owner__wrapper {
  @media (min-width: @desktop-width) {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-owner__control {
  @media (min-width: @desktop-width) {
    width: 486px;
  }
}
