.form-section {
  margin-left: 20px;
  margin-right: 20px;

  &__title {
    margin: 0;
    margin-top: 27px;
    margin-bottom: 36px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  &__text {
    text-transform: uppercase;
    line-height: 18px;
  }
}
