.form {
  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__field-label {
    text-transform: uppercase;
    color: #444444;
  }

  &__title {
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
  }

  &__field {
    display: flex;
    margin-bottom: 14px;
  }

  &__field-control {
    flex-grow: 1;
  }

  &__legend {
    font-family: "Arial", sans-serif;
    line-height: 16px;
    text-align: center;
  }

  &__wrapper {
    @media (min-width: @desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
