.form-section {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  &__title {
    margin: 0;
    margin-top: 27px;
    margin-bottom: 36px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  &__text {
    text-transform: uppercase;
    line-height: 18px;
  }
}
