.form-comment {
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  &__title {
    margin-bottom: 37px;
  }

  &__textarea {
    height: 150px;
    width: 100%;
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    font-weight: inherit;
  }
}
