.form-owner {
  position: relative;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 43px;
  }
}

.form-owner__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-owner__control input {
  position: relative;
}

.form-owner__control {
  @media (min-width: @desktop-width) {
    width: 472px;

    &--email {
      width: 486px;
    }
  }
}

.form-owner__title span {
  background-color: #ffffff;
  display: inline-block;

  @media (max-width: @mobile-width-only) {
    padding: 0 20px;
    margin-left: -20px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    margin-left: -40px;
  }
}

.form-owner__title {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  @media (max-width: @mobile-width-only) {
    padding-top: 25px;
    padding-left: 6.25%;
    margin-bottom: 35px;

    &::after {
      position: absolute;
      content: " ";
      min-width: 320px;
      width: 1000%;
      height: 1px;
      background-color: #ebebeb;
      top: 0;
      left: -20px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    margin-bottom: 63px;
    padding-left: 9%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7.5%;
    margin-bottom: 60px;
  }

  & br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    width: 1000%;
    height: 2px;
    top: 53%;
    left: -110px;
    background-color: #68b738;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 55%;
    }
  }
}

.form-owner__icon {
  position: absolute;
  content: " ";

  @media (max-width: @mobile-width-only) {
    &--mail {
      top: 15px;
      right: 12%;
    }

    &--phone {
      top: 70px;
      right: 11%;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    &--mail {
      top: 20px;
      right: 11%;
    }

    &--phone {
      top: 90px;
      right: 11%;
    }
  }

  @media (min-width: @desktop-width) {
    &--mail {
      top: 20px;
      left: 640px;
    }

    &--phone {
      top: 20px;
      right: 125px;
    }
  }
}

.form-owner__email {
  @media (min-width: @tablet-width) {
    gap: 20px;
  }
}

.form-owner__phone {
  @media (min-width: @desktop-width) {
    gap: 20px;
  }
}
