.invitation {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: @desktop-width) {
    position: absolute;
    margin-top: 80px;
    background-color: #ffffff;
    width: 565px;
    padding: 60px 80px;
    z-index: 10;
  }

  &__slogan {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    font-style: normal;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__address {
    font-family: "Arial", sans-serif;
    line-height: 20px;
    font-style: normal;
    text-align: left;
    max-width: 139px;
    color: #444444;

    @media (min-width: @tablet-width) {
      max-width: 159px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__map {
    position: relative;
    display: block;
    border: none;
    width: 100%;

    @media (min-width: @tablet-width) {
      height: 400;
    }
  }
}
