.invitation {
  display: flex;
  padding: 26px 20px;

  &__slogan {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    font-style: normal;
  }

  &__address {
    font-family: "Arial", sans-serif;
    line-height: 20px;
    font-style: normal;
    text-align: left;
    max-width: 139px;
  }
}
