.main-product {
  text-align: center;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 302px;
      right: 0;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/index-background-mobile.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }

  @media (min-width: @tablet-width) {
    color: #000000;
    text-align: left;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-bottom: 500px;
  }

  @media (min-width: @desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 694px;
      top: -160px;
      right: 0;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/index-background-desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }
  }
}

.main-product__wrapper {
  padding-top: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 87px;
  }
}

.main-product__title {
  margin: 0;
  margin-bottom: 25px;
  z-index: 1;

  @media (max-width: @mobile-width-only) {
    color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }
}

.main-product__commercial-slogan {
  text-transform: uppercase;
  margin: 0;
  z-index: 2;

  @media (max-width: @mobile-width-only) {
    color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-product__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 244px;
    margin-top: 29px;
  }
}

.main-product__image {
  @media (max-width: @mobile-width-only) {
    margin-top: 20px;
    width: 280px;
    height: 270px;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    position: absolute;
    left: 0;
    width: 708px;
    height: auto;
    z-index: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 552px;
    height: auto;
    left: 450px;
    top: 0;
  }
}
