.method {
  &__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      margin-top: 45px;
      margin-bottom: 183px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 71px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #444444;
    font-family: "Arial", sans-serif;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 245px 182px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 60px;
    }
  }

  &__description {
    margin: 0;
  }

  &__item {
    position: relative;

    @media (max-width: @mobile-width-only) {
      padding-left: 80px;
    }

    &::before {
      position: absolute;
      content: " ";
      width: 60px;
      height: 60px;
      background-color: #68b738;
      left: 0;
      z-index: -1;

      @media (min-width: @tablet-width) {
        width: 80px;
        height: 80px;
        top: -110px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &--nutrition {
      background-image: url("../img/icons/leaf.svg");
      background-repeat: no-repeat;
      background-position: 15px center;
    }

    &--boil {
      background-image: url("../img/icons/boil.svg");
      background-repeat: no-repeat;
      background-position: 15px center;
    }

    &--food {
      background-image: url("../img/icons/eat.svg");
      background-repeat: no-repeat;
      background-position: 15px center;
    }

    &--results {
      background-image: url("../img/icons/watches.svg");
      background-repeat: no-repeat;
      background-position: 15px center;
    }
  }
}
