.method {
  &__wrapper {
    padding: 20px;

    @media (min-width: @tablet-width) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #444444;
    font-family: "Arial", sans-serif;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    padding-left: 80px;
    position: relative;
  }

  &__item::before {
    position: absolute;
    content: " ";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    left: 0;
    z-index: -1;
  }

  &__item:not(:last-child) {
    margin-bottom: 26px;
  }

  &__item--nutrition {
    background-image: url("../img/icons/leaf.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }

  &__item--boil {
    background-image: url("../img/icons/boil.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }

  &__item--food {
    background-image: url("../img/icons/eat.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }

  &__item--results {
    background-image: url("../img/icons/watches.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}



