.product-card {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 248px;
    margin-top: auto;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.product-card__link {

  text-decoration: none;
  display: grid;
  grid-template-areas:
      "image title"
      "image list";

  @media (min-width: @tablet-width) {
    grid-template-areas:
                "image"
                "title"
                "list";
    grid-template-columns: 247px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 170px;
  }
}

.product-card__image {
  grid-area: image;
  display: block;
  justify-self: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    &--small {
      width: 161px;
      height: 100%;
      margin-top: -60px;
    }

    &--big {
      width: 168px;
      height: 100%;
      margin-top: -85px;
    }
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #000000;
  grid-area: title;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__list {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 14px;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-area: list;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding-bottom: 9px;
  }
}

.product-card__item-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #cdcdcd;
}

.product-card__item {
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;
    padding-top: 17px;
  }
}
