.product-card {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    background-color: #f2f2f2;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__button {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    margin-top: -2px;
  }

  @media (min-width: @tablet-width) {
    width: 248px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 40px;

    & span {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.product-card__link {

  text-decoration: none;
  display: grid;
  grid-template-areas:
    "image title"
    "image list";

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "image"
      "title"
      "list";
    grid-template-columns: 247px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 170px;
  }
}

.product-card__image {
  grid-area: image;
  display: block;
  justify-self: center;
  align-self: center;

  @media (max-width: @mobile-width-only) {
    &--small {
      margin-bottom: -11px;
      margin-right: 5px;
    }

    &--big {
      margin-right: -5px;
    }
  }

  @media (min-width: @tablet-width) {
    &--small {
      width: 161px;
      height: 100%;
      margin-top: -45px;
    }

    &--big {
      width: 168px;
      height: 100%;
      margin-top: -75px;
    }
  }

  @media (min-width: @desktop-width) {
    &--small {
      margin-top: -55px;
    }

    &--big {
      margin-top: -77px;
    }
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  text-transform: uppercase;
  color: #000000;
  grid-area: title;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 28px;
    width: 140px;
    justify-self: center;

    & br {
      display: none;
    }

    &--big {
      margin-top: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    line-height: 21px;

    &--big {
      margin-top: 42px;
    }
  }
}

.product-card__list {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 14px;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-area: list;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 25px;
  }
}

.product-card__item-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #cdcdcd;
  align-items: flex-end;
  margin: 0;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding-bottom: 7px;

    &:not(:first-child) {
      padding-top: 7px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;

    &:not(:first-child) {
      padding-top: 8px;
    }
  }
}

.product-card__item {
  margin: 0;
}
