
.product-options {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding: 30px 52px 22px 20px;
    margin: 20px;
    background-color: #f2f2f2;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
  }

  &__text {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin: 0;
    margin-bottom: 42px;
  }

  &__button {
    text-decoration: none;
    color: #000000;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
  }
}
