.show-more {
  position: relative;

  @media (min-width: @tablet-width) {
    border: solid 2px #f2f2f2;
  }
}

.show-more__icon {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 40px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
    z-index: 10;
  }

  @media (min-width: @tablet-width) {
    &::before,
    &::after {
      top: 83px;
      left: -27px;
      width: 60px;
    }
  }
}

.show-more__text {
  text-transform: uppercase;
  grid-area: text;

  @media (max-width: @mobile-width-only) {
    font-size: 16px;
    padding-top: 78px;
    margin-bottom: 8px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 140px;
    padding-top: 135px;
    margin-bottom: 23px;
  }
}

.show-more__text-additional {
  font-family: "Arial", sans-serif;
  color: #444444;
  grid-area: additional;
  margin-bottom: 21px;

  @media (max-width: @mobile-width-only) {
    font-size: 12px;
    line-height: 16px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
  }
}

.show-more__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  align-items: center;
}
