.show-more {
  &__text {
    text-transform: uppercase;
    font-size: 16px;
  }

  &__text-additional {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }

  &__button {
    background-color: #f2f2f2;
  }
}
