.show-more {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  &__text {
    text-transform: uppercase;
    font-size: 16px;
  }

  &__text-additional {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
  }

  &__button {
    width: 280px;
    border: none;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 94px;
  }
}
