.social {
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link--vkontakte {
    margin-right: 26px;
  }

  &__link--youtube {
    margin-right: 30px;
  }
}
