.special-offer {
  margin-top: 30px;
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
  height: 289px;
  display: flex;

  &__text {
    font-family: "Arial", sans-serif;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 43px;
    margin-top: auto;
  }

  // &::before {
  //   content: " ";
  //   position: absolute;
  //   width: 279px;
  //   height: 289px;
  //   background-image: url("../img/special-offer-image.png");
  //   z-index: -1;
  // }
}
